.container {
    margin-right: auto;
    margin-left: auto;

    @include mq(small) {
        width: 750px;
    }

    @include mq(medium) {
        width: 970px;
    }

    @include mq(large) {
        width: 1200px;
    }
}


section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 1080px;
    padding: 1rem;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    align-items: center;

    @include mq(large) {
        height: fit-content;
        max-height: fit-content;
        min-height: 100vh;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.generated-image {
    flex: 1;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq(medium) {
        min-height: 80vh;
    }

    @include mq(large) {
        min-height: 60vh;
    }
}

.display-flex {
    display: flex;
}

.main-img-btn-container {
    padding: 0 0 0.5rem 0;

    .control-btns {
        display: flex;
        justify-content: space-between;

        button {
            padding: .5rem 2rem;
        }
    }
}

.image-gallery-container {
    min-height: 50vh;
    margin-top: 1rem;

    p,
    h2 {
        margin: 0;
    }


    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        margin-inline: -0.5rem;

        .saved-img-container {
            width: 100%;
            height: 250px;
            padding: 0.5rem;
            position: relative;

            @include mq(small) {
                width: calc(33.33%) !important;
                height: 250px;
            }

            .saved-img-inner {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &:hover {
                    cursor: pointer;
                }

                @include mq(small) {
                    background-color: black;
                }
            }

            .delete-btn {
                position: absolute;
                top: 0;
                right: 0;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: red;
                color: white;
                outline: none;
                border: none;

                &:hover {
                    background-color: darkred;
                    cursor: pointer;
                }
            }
        }
    }
}

#auth-route,
#login-route {
    width: 100%;
    max-width: 1080px;
    padding: 1rem;
}